
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Django 静的ファイルをロードする -->
    {% load static %}
    <meta content="ja" http-equiv="Content-Language"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>welcomePage</title>
    <link rel="stylesheet" type="text/css"
    href="{% static 'memFrame/css/default.css' %}" />
</head>

<body>

<!-- タイトルとパラーメーター -->
<h1>{{title}}</h1>
<p>this is simple page</p>
<p>{{msg}}</p>

<!-- リンクを作る -->
<a href="{% url 'index' %}">index</a>
<a href="{% url 'next' %}">next</a>

<!-- フォームをポストする -->
<form action="{% url 'formPost' %}">
    <label for="msg">message: </label>
    <input id="msg" type="text" name="msg" />
    <input type="submit" value="click" />
</form>

</body>

</html>
