<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>アップロード</title>

    <!-- Django 静的ファイルをロードする -->
    {% load static %}
    <meta content="ja" http-equiv="Content-Language"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<title>Welcome To MemFrame</title>
    <script type="text/javascript"
          src="{% static 'memFrame/jquery/jquery-3.6.0.js' %}"></script>
    <script type="text/javascript"
          src="{% static 'memFrame/jquery-ui/jquery-ui.js' %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/jquery-ui/jquery-ui.css' %}" ></link>
    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/jquery-ui/jquery-ui.structure.css' %}"></link>
    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/jquery-ui/jquery-ui.theme.css' %}"></link>

    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/css/default.css' %}" /></link>
</head>

<body>

<div id="header"></div>

  <style type="text/css">
.icon_email {
    background-image: url({% static 'memFrame/icon/email.png' %});
    background-size:5%
}
.icon_password {
    background-image: url({% static 'memFrame/icon/password.png' %});
    background-size:5%
}
.icon_picture {
    background-image: url({% static 'memFrame/icon/picture.png' %});
    background-size:5%
}
.icon_user {
    background-image: url({% static 'memFrame/icon/user.png' %});
    background-size:5%
}
</style>

<script type="text/javascript">
$(function() {
  $('input[type="submit"].upload').button();
  $("#header").load("{% static 'memFrame/HTML_Parts/Header.html' %}");
});
</script>

<div>
	<span>画像登録をしましょう！</span>
</div>
<div>
	<span>{{ resultMessage }}</span>
</div>
<form action="{% url 'PictUpload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<div>
		<span id="Label_Username">タイトル</span>
		<span style="padding-left:10px">
    		{{ form.name }}
		</span>
	</div>
	<div>
		<span id="Label_Password">イメージ</span>
		<span style="padding-left:80px">
    		{{ form.image }}
		</span>
	</div>
	<div>
		<input name="upload" class="upload" type="submit" value="画像をアップロード！" />
	</div>
</form>

</body>

</html>
