<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Django 静的ファイルをロードする -->
    {% load static %}
    <meta content="ja" http-equiv="Content-Language"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<title>Welcome To MemFrame</title>
    <script type="text/javascript"
          src="{% static 'memFrame/jquery/jquery-3.6.0.js' %}"></script>
    <script type="text/javascript"
          src="{% static 'memFrame/jquery-ui/jquery-ui.js' %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/jquery-ui/jquery-ui.css' %}" ></link>
    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/jquery-ui/jquery-ui.structure.css' %}"></link>
    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/jquery-ui/jquery-ui.theme.css' %}"></link>

    <link rel="stylesheet" type="text/css"
          href="{% static 'memFrame/css/default.css' %}" /></link>
</head>
<body>
<script type="text/javascript">
$(function() {
    $('.signin').button();
  	//ボタンクリック
	$('.signin').on('click', function() {
  		location.href="127.0.0.1:8000/signin";
	});

});
</script>
    <h1 class="title">
        <div>Welcome To MemFrame </div>
    </h1>
    <div>
		<button class="signin"/>サインイン</button>
    </div>
</body>

</html>
